// fonts
$racama: "Racama", sans-serif;

// colors
$black-212830: #212830;
$white: #FFFF;
$background: #FFFAFA;
$green: #BCF095;
$coral: #FFA69E;
$lavender: #AEBBFE;
$sec_lime: #D8FCBA;
$sec_coral: #FFDCD9;
$sec_lavender: #DAE0FF;
$grey_text: #AEB3BE;
$light_grey: #EAEAEA;
$dark_blue: #052F5F;
$red_attention: #F87060;
$dark_green: #50BB00;
$dark_lavender: #8094F7;
$coral_hover: #FFF3F2;
$green_hover: #F5FFED;
$hover_lavender: #EBEEFF;
$red_tag: #FFEAE8;
$green_tag: #E8FFD4;
$lavender_tag: #E8ECFF;

/* Breakpoints */
$small-xxs: 376px;
$small-xs: 476px;
$small: 576px;
$medium: 768px;
$medium-xl: 992px;
$large: 1200px;
$large-xl: 1400px;

/* Sizes */

$headerHeight: 56px;
$containerWidth: 1280px;
$containerPadding: 20px;